.btn-md-pink{
    background-color: #EC6E6E !important;
    color: white !important;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.document{
    text-decoration: none;
    color:#2997ff
}

.document:hover {
    text-decoration: underline;
    color: #2997ff
}

.pseudocode{
    font-family: 'Source Code Pro', monospace !important;
    background: #bdbdbd;
    color: black;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr{
    padding: 0 !important;
    margin: 5px;
    width: 100% !important;
}
